<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://ru.mindils.jb2.app/menu.application.title" opened="true">
        <item view="jb2_User.list" title="msg://ru.mindils.jb2.app.view.user/UserListView.title"/>
      <item view="jb2_Vacancy.list" title="msg://ru.mindils.jb2.app.view.vacancy/vacancyListView.title"/>
      <item view="jb2_Employer.list" title="msg://ru.mindils.jb2.app.view.employer/employerListView.title"/>
      <item view="jb2_VacancyFilter.list"
            title="msg://ru.mindils.jb2.app.view.vacancyfilter/vacancyFilterListView.title"/>
      <item view="jb2_VacancyOpsView" title="msg://ru.mindils.jb2.app.view.vacancyops/vacancyOpsView.title"/>
      <item view="jb2_ChainAnalysisMonitorView"
            title="msg://ru.mindils.jb2.app.view.chainanalysismonitor/chainAnalysisMonitorView.title"/>
      <item view="jb2_LLMModel.list" title="msg://ru.mindils.jb2.app.view.llmmodel/LLMModelListView.title"/>
    </menu>

</menu-config>